@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body,
html {
	background-color: #000;
	width: 100vw;
	height: 100vh;
	padding: 0px;
	margin: 0px;

	overflow: hidden;

	font-family: 'Poppins', Arial, sans-serif;
}

h1,h2,h3,ul,li,a{
	margin: 0;
	padding: 0;
}

body::-webkit-scrollbar,
html::-webkit-scrollbar {
	display: none;
}